<?xml version="1.0" encoding="utf-8"?>
<InstallSettings>

  <!-- If blank, no log file will be generated.
	     Otherwise, the log file location will be
	     the SitecoreInstallFolder.
	     You can specify a file path or UNC location.
	-->
  <LogFileName>SitecoreShipInstallLog.txt</LogFileName>
 
  <NuGetSources>
    <Source>
      <Url>
        https://www.nuget.org/api/v2/
      </Url>
    </Source>
    <Source>
      <Url>
        https://foobar.org/api/v2
      </Url>
      <Credentials>
        <Username>
          someuser
        </Username>
        <Password>
          somepassword
        </Password>
      </Credentials>
    </Source>
  </NuGetSources>

  <Sitecore.Ship>
    <PackageId>Sitecore.Ship</PackageId>
    <PackageVersion>0.4.0</PackageVersion>
    <Options>
      <Enabled>true</Enabled>
      <!-- If true, package installs can be performed from a remote machine -->
      <AllowRemote>false</AllowRemote>
      <AllowPackageStreaming>false</AllowPackageStreaming>
      <RecordInstallationHistory>false</RecordInstallationHistory>
      <MuteAuthorisationFailureLogging>false</MuteAuthorisationFailureLogging>
      <!-- IP address whitelisting is disabled if no 
           elements are specified below the <Whitelist>
           element or if the element is omitted
    	-->
      <IPWhitelist>
        <IP name="local loopback">127.0.0.1</IP>
        <IP name="VMDC01">10.10.20.10</IP>
        <IP name="VMWin7">10.10.20.7</IP>
      </IPWhitelist>
    </Options>
  </Sitecore.Ship>

  <!-- if false, the script will find and use the
       highest available versions for all dependent
       packages
  -->
  <MatchExactVersionOfDependentPackages>true</MatchExactVersionOfDependentPackages>
  
  <SitecoreInstanceRoot>C:\inetpub\SIM\SitecoreShipPOC\Website</SitecoreInstanceRoot>

  <CleanTempFilesWhenDone>true</CleanTempFilesWhenDone>

</InstallSettings>
